{% extends 'layout.njk' %}

{% block content %}
    <section>
        <div class="banner">
            <div> 
                <h1> 
                    As melhores receitas
                </h1>
                <p> 
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            <div>
                <img src="chef.png" alt="Chefe de Cozinha">
            </div>
        </div>
    </section>
    <main>
        <div class="recipes_content" style="margin-top: 30px">
            {% for item in items %}
                <div class="recipes" id="{{item.id}}">
                    <img src="{{item.image}}" alt="{{item.title}}">
                    <h2>
                        {{item.title}}
                    </h2>
                    <h3>
                        por
                        {{item.author}}
                    </h3>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}