<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Foodfy - Aprenda a construir os melhores pratos com receitas criadas por proﬁssionais do mundo inteiro." />
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Foodfy - </title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">
                    <img src="assets/logo.png" alt="Foodfy">
                </a>
            </div>
            <nav class="links">
                <a href="/about.html">Sobre</a>
                <a href="/recipes.html">Receitas</a>
            </nav>
        </header>
            <section>
                <div class="banner">
                    <div class="banner_text">
                        <h1 class="banner_title">
                            As melhores receitas
                        </h1>
                        <p class="banner_subtitle">
                            Aprenda a construir os melhores pratos <br> com receitas criadas por profissionais <br>do mundo inteiro.
                        </p>
                    </div>
                    <div class="banner_img">
                        <img src="/assets/chef.png" alt="Chef">
                    </div>
                </div>
            </section>
            <main class="recipes_content">
                <div>
                    <h1 class="content_title">
                        Mais acessadas
                    </h1>
                </div>
                <div class="most_accessed_content" >
                    <div class="quick_recipes" id="burger">
                        <img class="image_recipes" src="/assets/burger.png"  alt="Triplo bacon burger">
                        <p class="recipes_title"> 
                            Triplo bacon burger 
                        </p>
                        <p class="recipes_author"> 
                            por Jorge Relato 
                        </p>
                    </div>
                    <div class="quick_recipes" id="pizza">
                        <img class="image_recipes" src="/assets/pizza.png"  alt="Pizza quatro estações">
                        <p class="recipes_title"> 
                            Pizza quatro estações 
                        </p>
                        <p class="recipes_author"> 
                            por Fabiana Melo 
                        </p>
                    </div>
                    <div class="quick_recipes" id="espaguete">
                        <img class="image_recipes" src="/assets/espaguete.png"  alt="Espaguete ao alho">
                        <p class="recipes_title"> 
                            Espaguete ao alho
                        </p>
                        <p class="recipes_author"> 
                            por Julia Kinoto
                        </p>
                    </div>
                    <div class="quick_recipes" id="lasanha">
                        <img class="image_recipes" src="/assets/lasanha.png"  alt="Lasanha mac n’ cheese">
                        <p class="recipes_title"> 
                            Lasanha mac n’ cheese
                        </p>
                        <p class="recipes_author"> 
                            por Juliano Vieira
                        </p>
                    </div>
                    <div class="quick_recipes" id="doce">
                        <img class="image_recipes" src="/assets/doce.png"  alt="Docinhos pão-do-céu">
                        <p class="recipes_title"> 
                            Docinhos pão-do-céu
                        </p>
                        <p class="recipes_author"> 
                            por Ricardo Golvea
                        </p>
                    </div>
                    <div class="quick_recipes" id="asinhas">
                        <img class="image_recipes" src="/assets/asinhas.png"  alt="Asinhas de frango ao barbecue">
                        <p class="recipes_title"> 
                            Asinhas de frango ao barbecue
                        </p>
                        <p class="recipes_author"> 
                            por Vania Steroski
                        </p>
                    </div>
                </div>
            </main>

            <div class="modal_overlay">
                <div class="modal">
                    <div class="modal_recipes">
                        <img class="modal_image_recipes" src="">
                        <p class="modal_recipes_title"> 
                            
                        </p>
                        <p class="modal_recipes_author"> 
                            
                        </p>
                    </div>
                    <a class="close_modal">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </div>
            <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </footer>
            <script src="/scripts.js"></script>
    </body>
</html>