@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-pink: #FBDFDB;
    --color-black: #111111;
    --color-grey: #777777;
    --color-middle-grey: #444444;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    max-width: 1905px;
}

/* LINKS e LOGO - TOPO */
header {
    max-width: 940px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: solid 1px var(--color-black);
}

header .links {
    width: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .links a {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-black);
    transition: 300ms;
    position: relative;
}

header .links a.menu-active{
    font-weight: bold;
}

header .links a.menu-active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-pink);
    position: absolute;
    left: 0;
    top: -4px;
}

header .links a + a {
    margin-left: 50px;
}

header .links a:last-child {
    background-color: var(--color-pink);
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 72%;
}

header .links a:hover {
    font-weight: bold;
}

header .links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color-pink);
    position: absolute;
    left: 0;
    top: -4px;
}

header .links a:hover::after {
    width: 100%;
    transition: width 400ms ease-in-out;
}

header .links a:last-child:hover {
    font-weight: normal;
}
header .links a:last-child:hover::after {
    width: 0%;
}

/* CENTRALIZANDO CONTEUDO */
main {
    width: 940px;
    margin: 0 auto;
}

/* FOOTER */
footer {
    width: 100%;
    height: 40px;
    margin: 50px auto 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #999999;
    font-size: 14px;
    line-height: 16px;
}

/* INDEX */
.banner {
    background-color: var(--color-pink);
    width: 940px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.2);
}

.banner div {
    color: var(--color-black);
    width: 50%;
    text-align: center;
    padding: 30px 30px 0 30px;
}

.banner div h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    text-align: left;
}

.banner div p {
    padding-top: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
}

/* SOBRE */
.about_content h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-black);
    margin: 0 0 30px 0;
}

.about_content p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin: 0 0 30px 0;
}

.about_content p:last-child {
    margin: 0;
}

/* GRID RECEITAS */
.recipes_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes {
    width: 300px;
    cursor: pointer;
}

.recipes img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.2);
}

.recipes h2 {
    font-size: 18px;
    line-height: 21px;
    color: var(--color-black);
    margin-top: 10px;
}

.recipes h3 {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey);
}

/* === DETALHE DAS RECEITAS ===*/
.recipe_preparation img {
    width: 100%;
    max-height: 280px;
    border-radius: 15px;
    box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.recipe_preparation h1 {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
}

.recipe_preparation h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-black);
}

.recipe_preparation h3 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-grey);
    padding-bottom: 30px;
}

.recipe_preparation p {
    font-size: 18px;
    line-height: 28px;
    color: var(--color-middle-grey);
    text-align: justify;
}

.recipe_preparation li {
    margin-left: 15px;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-middle-grey);
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
    align-items: baseline;
}

.showhide_btn {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-middle-grey);
    text-align: right;
    cursor: pointer;
}

.recipe_showhide.active {
    overflow: visible;
    opacity: 100%;
    height: 100%;
    max-height: 600px;
    transition: max-height 200ms ease-in, opacity 200ms ease-in;
}

.recipe_showhide {
    padding: 14px 0;
    overflow: hidden;
    opacity: 0%;
    height: 0;
    max-height: 0px;
    transition: max-height 200ms ease-in, opacity 200ms ease-in;
}