header {
    background-color: #000;
    max-width: 100%;
}

main h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--color-black);
    margin-bottom: 3rem;
    border-bottom: solid 1px var(--color-pink);
}

.recipes_content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.recipes {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    cursor: default;
}

.recipes img {
    width: 150px;
    height: 70px;
}

.wrap-titleauthor {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recipes .wrap-titleauthor h2 {
    margin: 0;
}

.recipes .wrap-titleauthor h3 {
    font-weight: normal;
}

.recipes .wrap-titleauthor p {
    font-size: 12px;
    color: var(--color-grey);
    cursor: pointer;
}

.recipes .wrap-titleauthor p:hover {
    font-weight: bold;
    color: red;
}
/*FORMULÁRIO CADASTRO RECEITA*/

.wrap-field {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 600px;
    margin: 1rem;
}

.item h3 {
    margin-right: 1rem;
}

button {
    font-size: 13px;
    border: solid 1px #000;
    border-radius: 8px;
    background-color: #FFF;
    color: #000;
    padding: 4px;
    cursor: pointer;
    transition: background-color 300ms ease-in, color 300ms ease-out;
    align-self: flex-end;
}

button:hover {
    background-color: black;
    color: #FFF;
    transition: background-color 300ms ease-in, color 300ms ease-out;
}

input {
    width: 100%;
    color: var(--color-grey);
    font-weight: bold;
    font-size: 14px;
    margin: 16px 0;
    padding: 8px;
    border-bottom: solid 1px #000;
}
input::placeholder {
    font-size: 14px;
    font-weight: normal;
    color: #777
}