{% extends 'admin/recipes/layout.njk' %}

{% block content %}
    <main>
        <div>   
                <h4>
                    Imagem da receita
                </h4>
                <input placeholder="http://" type="text">
                <h2>
                    Título da receita
                </h2>
                <h2>
                    Autor da receita
                </h2>
                <h2>
                    Ingredientes
                </h2>
                <h2>
                    Modo de preparo
                </h2>
                <h2>
                    Informações adicionais
                </h2>
        </div>
    </main>
{% endblock %}